<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
  <table class="table">
    <thead class="table-dark">
      <tr class="text-center">
        <th style="text-align:left; width:4%">번호</th>
        <th style="text-align:left; width:13%">createdDate</th>
        <th style="text-align:left; width:13%">lastModifiedDate</th>
        <th style="text-align:left; width:10%">Name</th>
        <th style="text-align:left; width:10%">Version</th>
        <th style="text-align:left; width:10%">Rev</th>
        <th style="text-align:left; width:10%">Size</th>
        <th style="text-align:left; width:10%">Publisher</th>
        <th style="text-align:left; width:10%">Notes</th>
        <th style="text-align:left; width:10%">RefreshLog</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center" th:each="snap_refresh_list, loop : ${paging}">
        <td style="text-align:left" th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
        <td style="text-align:left" th:text="${#temporals.format(snap_refresh_list.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td style="text-align:left" th:text="${#temporals.format(snap_refresh_list.lastModifiedDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td style="text-align:left;white-space:pre;"><a th:href="@{/snap/refresh/{name}(name = ${snap_refresh_list.name})}" th:text="${snap_refresh_list.name}"/></td>
        <td style="text-align:left;white-space:pre;" th:text="${snap_refresh_list.version}"></td>
        <td style="text-align:left;white-space:pre;" th:text="${snap_refresh_list.rev}"></td>
        <td style="text-align:left;white-space:pre;" th:text="${snap_refresh_list.size}"></td>
        <td style="text-align:left;white-space:pre;" th:text="${snap_refresh_list.publisher}"></td>
        <td style="text-align:left;white-space:pre;" th:text="${snap_refresh_list.notes}"></td>
        <td style="text-align:left;white-space:pre;" th:text="${snap_refresh_list.refreshLog}"></td>
      </tr>
    </tbody>
  </table>
  <!-- 페이징처리 시작 -->
  <div th:if="${!paging.isEmpty()}">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
        <a class="page-link" th:href="@{|?page=${paging.number-1}|}">
          <span>이전</span>
        </a>
      </li>
      <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}" th:if="${page >= paging.number-5 and page <= paging.number+5}" th:classappend="${page == paging.number} ? 'active'" class="page-item">
        <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
      </li>
      <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
        <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
          <span>다음</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- 페이징처리 끝 -->
</div>
</html>
