<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
  <table class="table">
    <thead class="table-dark">
      <tr class="text-center">
        <th style="text-align:left; width:4%">번호</th>
        <th style="text-align:left; width:13%">createdDate</th>
        <th style="text-align:left; width:13%">lastModifiedDate</th>
        <th style="text-align:left; width:10%">RootNode</th>
        <th style="text-align:left; width:10%">ParentNode</th>
        <th style="text-align:left; width:10%">ChildNode</th>
        <th style="text-align:left; width:10%">Level</th>
        <th style="text-align:left; width:10%">LeafNode</th>
        <th style="text-align:left; width:10%">SortNumber</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center" th:each="brew_deps, loop : ${paging}">
        <td style="text-align:left" th:text="${loop.index + 1}"></td>
        <td style="text-align:left" th:text="${#temporals.format(brew_deps.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td style="text-align:left" th:text="${#temporals.format(brew_deps.lastModifiedDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td style="text-align:left"><a th:href="@{/brew/upgrade/{name}(name = ${brew_deps.rootNode})}" th:text="${brew_deps.rootNode}"/></td>
        <td style="text-align:left;white-space: pre-line" th:text="${brew_deps.parentNode}"></td>
        <td style="text-align:left;white-space: pre-line" th:text="${brew_deps.childNode}"></td>
        <td style="text-align:left;white-space: pre-line" th:text="${brew_deps.level}"></td>
        <td style="text-align:left;white-space: pre-line" th:text="${brew_deps.leafNode}"></td>
        <td style="text-align:left;white-space: pre-line" th:text="${brew_deps.sortNumber}"></td>
      </tr>
    </tbody>
  </table>
  <!-- 페이징처리 시작 -->
  <div th:if="${!paging.isEmpty()}">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
        <a class="page-link" th:href="@{|?page=${paging.number-1}|}">
          <span>이전</span>
        </a>
      </li>
      <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}" th:if="${page >= paging.number-5 and page <= paging.number+5}" th:classappend="${page == paging.number} ? 'active'" class="page-item">
        <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
      </li>
      <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
        <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
          <span>다음</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- 페이징처리 끝 -->
</div>
</html>
