<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div>
        <a th:href="@{|/user/list|}">Link to UserList</a>
    </div>
    <table border="1">
        <thead classs="thead-dark">
            <tr>
                <th width="120">Num</th>
                <th width="130">LeftUserID</th>
                <th width="120">LeftUserName</th>
                <th width="240">LeftGameID</th>
                <th width="130">RightUserID</th>
                <th width="120">RightUserName</th>
                <th width="240">RightGameID</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="login : ${loginList}">
                <td th:text="${login.num}">Num</td>
                <td th:text="${login.leftUserId}">LeftUserID</td>
                <td th:text="${login.leftUserNm}">LeftUserName</td>
                <td th:text="${login.leftGameId}">LeftGameID</td>
                <td th:text="${login.rightUserId}">RightUserID</td>
                <td th:text="${login.rightUserNm}">RightUserName</td>
                <td th:text="${login.rightGameId}">RightGameID</td>
            </tr>
        </tbody>
    </table>
</body>

</html>