<h1 th:text="${user.userId}"></h1>
<div th:text="${user.gameId}"></div>
<div th:text="${user.userNm}"></div>

<h3 th:text="|${#lists.size(user.todoList)}개의 ToDo가 있습니다.|"></h3>
<table border="1">
    <tr>
        <th>ToDo.ID</th>
        <th>ToDo.CONTENT</th>
    </tr>
    <tr th:each="todo : ${user.todoList}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.content}"></td>
    </tr>
</table>

<h3>추가할 ToDo는 아래에서 작성해주세요.</h3>
<form th:action="@{|/todo/create/${user.userId}|}" method="post">
    <textarea name="content" id="content" rows="15"></textarea>
    <input type="submit" value="ToDo 등록">
</form>