<html layout:decorate="~{layout}">

    <div layout:fragment="content" class="container my-3">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th style="text-align:left; width:3%;">Software</th>
                    <th style="text-align:left; width:4%;">번호</th>
                    <th style="text-align:left; width:7%;">Link</th>
                    <th style="text-align:left; width:86%;">내용</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>sdk</td>
                    <td>00</td>
                    <td>
                        <a href="/sdk/update"> run</a>,
                        <a href="/sdk/updateList">log</a>
                    </td>
                    <td>sdk update</td>
                </tr>
                <tr>
                    <td></td>
                    <td>01</td>
                    <td>
                        <a href="/sdk/version"> run</a>,
                        <a href="/sdk/versionList">log</a>
                    </td>
                    <td>sdk version</td>
                </tr>
                <tr>
                    <td></td>
                    <td>02</td>
                    <td><a href="/sdk/list/java"> run</a></td>
                    <td>sdk list java</td>
                </tr>
                <tr>
                    <td></td>
                    <td>03</td>
                    <td><a href="/sdk/install/list"> run</a></td>
                    <td>sdk install list</td>
                </tr>
                <tr>
                    <td></td>
                    <td>04</td>
                    <td><a href="/sdk/uninstall/list"> run</a></td>
                    <td>sdk uninstall list</td>
                </tr>
                <tr>
                    <td></td>
                    <td>05</td>
                    <td><a href="/sdk/candidates"> run</a></td>
                    <td>sdk candidates</td>
                </tr>
                <tr>
                    <td>snap</td>
                    <td>00</td>
                    <td>
                        <a href="/snap/list"> run</a>,
                        <a href="/snap/list/log"> log</a>
                    </td>
                    <td>sudo snap list --all</td>
                </tr>
                <tr>
                    <td></td>
                    <td>01</td>
                    <td>
                        <a href="/snap/refreshList"> run</a>,
                        <a href="/snap/refreshList/list"> log</a>
                    </td>
                    <td>sudo snap refresh --list</td>
                </tr>
                <tr>
                    <td></td>
                    <td>02</td>
                    <td>
                        <a href="/snap/removeLog"> log</a>
                    </td>
                    <td>sudo snap remove --list</td>
                </tr>
                <tr>
                    <td></td>
                    <td>03</td>
                    <td>
                        <a href="/snap/changes"> run</a>,
                        <a href="/snap/changesLog"> log</a>
                    </td>
                    <td>sudo snap changes</td>
                </tr>
                <tr>
                    <td>brew</td>
                    <td>01</td>
                    <td>
                        <a href="/brew/update"> run</a>,
                        <a href="/brew/updateList">log</a>
                    </td>
                    <td>brew update</td>
                </tr>
                <tr>
                    <td></td>
                    <td>02</td>
                    <td>
                        <a href="/brew/outdated"> run</a>,
                        <a href="/brew/outdatedList">log</a>
                    </td>
                    <td>brew outdated --json</td>
                </tr>
                <tr>
                    <td></td>
                    <td>03</td>
                    <td>
                        <a href="/brew/outdatedPivot"> run</a>,
                        <a href="/brew/outdatedPivotList">log</a>
                    </td>
                    <td>brew outdated --json | pivot</td>
                </tr>
                <tr>
                    <td></td>
                    <td>04</td>
                    <td>
                        <a href="/brew/deps"> run</a>,
                        <a href="/brew/depsList">log</a>
                    </td>
                    <td>brew outdated --json | pivot | brew deps --graph --dot</td>
                </tr>
                <tr>
                    <td></td>
                    <td>05</td>
                    <td>
                        <a href="/brew/cleanup"> run</a>,
                        <a href="/brew/cleanup/list"> log</a>
                    </td>
                    <td>brew cleanup</td>
                </tr>
                <tr>
                    <td></td>
                    <td>06</td>
                    <td>
                        <a href="/brew/doctor"> run</a>,
                        <a href="/brew/doctor/list"> log</a>
                    </td>
                    <td>brew doctor</td>
                </tr>
            </tbody>
        </table>
    </div>

</html>